@import url(https://fonts.googleapis.com/css?family=Poppins:400,700,900);

* {
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  margin: 0;
  background-color: #473144;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gametitle {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: #af1b3f;
  padding: 10px;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  gap: 20px;
  padding: 2px;
}

.tiles {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  height: 120px;
  background-color: #ccb69b;
  color: #473144;
}

.tiles:hover {
  background-color: #af1b3f;
  color: #efc69b;
  border: 2px solid #efc69b;
  transition: 0.5s;
  box-shadow: 0 0 10px #af1b3f;
}

.winningCombo {
  background-color: red;
  color: white;
  font-weight: bold;
}
